#rad-slider {
  position: relative;
  overflow: hidden;
  height: 450px;
}

.rad-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
}

.active {
    z-index: 99;
}
